/* Error: $string: #EEE8EF is not a string.
 *     ,
 * 132 |   @if str-index($string, "data:image/svg+xml") {
 *     |       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   node_modules/bootstrap/scss/_functions.scss 132:7  escape-svg()
 *   node_modules/bootstrap/scss/_navbar.scss 23:41     @import
 *   node_modules/bootstrap/scss/bootstrap.scss 28:9    @import
 *   scss/custom.scss 35:9                              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: $string: #EEE8EF is not a string.\a     \2577 \a 132 \2502    @if str-index($string, "data:image/svg+xml") {\a     \2502        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   node_modules/bootstrap/scss/_functions.scss 132:7  escape-svg()\a   node_modules/bootstrap/scss/_navbar.scss 23:41     @import\a   node_modules/bootstrap/scss/bootstrap.scss 28:9    @import\a   scss/custom.scss 35:9                              root stylesheet';
}
